@page "/"

<h1>MAUI App with Azure Maps</h1>

@if (ShowMapsControl)
{
    <FairPlayRides.Components.AzureMaps 
    GeoCoordinates="@this.InitialGeoLocation"
    AzureMapsConfiguration="@this.AzureMapsConfiguration"
    ></FairPlayRides.Components.AzureMaps>
}

@foreach (var singlePathSegment in this.Path)
{
    <div class="row">
        <div class="col">
            @singlePathSegment
        </div>
    </div>
}