@page "/"

<h1>MAUI App with Azure Maps</h1>

@if (ShowMapsControl)
{
    <FairPlayRides.Components.RideMap
    AzureMapsConfiguration="AzureMapsConfiguration"
    GeoCoordinates="InitialGeoLocation"
    ></FairPlayRides.Components.RideMap>
}