<AzureMaps 
AzureMapsConfiguration="@AzureMapsConfiguration"
GeoCoordinates="@GeoCoordinates"
OnNewCoordinatesReceived="@OnNewCoordinatesReceived"
></AzureMaps>

@foreach (var singleGeoCoordinate in this.GeoCoordinatesList)
{
    <div class="row">
        <div class="col">
            @($"Latitude: {singleGeoCoordinate.Latitude}. Longitude: {singleGeoCoordinate.Longitude}")
        </div>
    </div>
}